@model Proyecto_final_ASP.Models.Producto

<h3>Editar producto</h3>
<form method="post" asp-controller="Producto" asp-action="Editar">
    <table class="table">
        <tr>
            <td>ID</td>
            <td><input type="number" asp-for="Id"></td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td><input type="text" asp-for="Nombre"></td>
        </tr>
        <tr>
            <td>Precio</td>
            <td><input type="text" asp-for="Precio"></td>
        </tr>
        <tr>
            <td>Cantidad</td>
            <td><input type="number" asp-for="Cantidad"></td>
        </tr>
        <tr>
            <td>Foto</td>

            <td>
                <img src="~/imagenes/@Model.Foto" width="100px">
                <br />
                <input type="file" name="foto">
            </td>

        </tr>
        <tr>
            <td><input type="text" asp-for="Foto" /></td>
            <td><input class="btn btn-success" type="submit" value="Modificar"></td>
        </tr>
    </table>

</form>