<div class="text-center">Datos del producto</div>
<table class="table">
    <tr>
        <td>ID:</td>
        <td>@ViewBag.producto.Id</td>
    </tr>
    <tr>
        <td>Nombre:</td>
        <td>@ViewBag.producto.Nombre</td>
    </tr>
    <tr>
        <td>Precio:</td>
        <td>@ViewBag.producto.Precio</td>
    </tr>
    <tr>
        <td>Cantidad:</td>
        <td>@ViewBag.producto.Cantidad</td>
    </tr>
    <tr>
        <td>Foto:</td>
        <td><img src="~/imagenes/@ViewBag.producto.Foto"></td>
    </tr>
</table>